# PostgreSQL
POSTGRES_USER=mentor
POSTGRES_PASSWORD=mentor
POSTGRES_DB=mentor_esgi
POSTGRES_PORT=5432

# API
DATABASE_URL=postgresql://mentor:mentor@localhost:5432/mentor_esgi

# JWT
JWT_SECRET=change_me_in_production_secret_key
JWT_REFRESH_SECRET=change_me_in_production_refresh_key

# Web
NEXT_PUBLIC_API_URL=http://localhost:8080
